//                           Key Positions
// ╭────┬────┬────┬────┬────┬────╮   ╭────┬────┬────┬────┬────┬────╮
//   XX   01   02   03   04   05       06   07   08   09   10   XX
// ├────┼────┼────┼────┼────┼────┤   ├────┼────┼────┼────┼────┼────┤
//   XX   13   14   15   16   17       18   19   20   21   22   XX
// ├────┼────┼────┼────┼────┼────┤   ├────┼────┼────┼────┼────┼────┤
//   XX   25   26   27   28   29       30   31   32   33   34   XX
// ╰────┴────┴────┼────┼────┼────┤   ├────┼────┼────┼────┴────┴────╯
//                  36   37   38       39   40   41
//                ╰────┴────┴────╯   ╰────┴────┴────╯

/ {
    combos {
        compatible = "zmk,combos";
        combo_q {
            key-positions = <33 34>;
            bindings = <&kp Q>;
            layers = <DEFAULT>;
        };
        combo_z {
            key-positions = <25 26>;
            bindings = <&kp Z>;
            layers = <DEFAULT>;
        };
    };
};
