#include "corne.h"

#include "macros.dtsi"
#include "combos.dtsi"
#include "behaviours.dtsi"

/ {
    // chosen {
    //     zmk,matrix_transform = &five_column_transform;
    // };

    keymap {
        compatible = "zmk,keymap";

        // Engram (https://engram.dev)
        // -----------------------------------------------------------------------------
        // | [/{ |  1  |  2  |  3  |  4  |  5  | |  6  |  7  |  8  |  9  |  0  | ]/} |
        // | XXX |  B  |  Y  |  O  |  U  | '/( | | "/) |  L  |  D  |  W  |  V  |  Z  |
        // | XXX |  C  |  I  |  E  |  A  | ,/; | | ./: |  H  |  T  |  S  |  N  |  Q  |
        // | XXX |  G  |  X  |  J  |  K  | -/_ | | ?/! |  R  |  M  |  F  |  P  | XXX |
        // |                 | ESC | TAB | SPC | | RET | BCK | DEL |                 |
        // -----------------------------------------------------------------------------
        BASE {
            label = "Base";
            bindings = <
                // Engram (https://engram.dev) Modified
                // ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
                    XXX           &kp B         &kp Y         &kp O         &kp U         &kp SQT           &kp SEMI      &kp L         &kp D         &kp W         &kp V         XXX
                // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
                    XXX           MHT(LGUI,C)   MHT(LALT,I)   MHT(LCTRL,E)  MHT(LSHFT,A)  &kp COMMA         &kp DOT       MHT(LSHFT,H)  MHT(LCTRL,T)  MHT(LALT,S)   MHT(LGUI,N)   XXX
                // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
                    XXX           LHT(BUTTON,G) MHT(RALT,X)   &kp J         &kp K         &kp MINUS         &kp SLASH     &kp R         &kp M         MHT(RALT,F)   LHT(BUTTON,P) XXX
                // ╰─────────────┴─────────────┴─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┴─────────────┴─────────────╯
                                                              LHT(MEDIA,ESC) LHT(NAV,DEL) LHT(NUM,SPACE)    LHT(FUN,RET)  LHT(SYM,BSPC) LHT(MOUSE,TAB)
                //                                           ╰─────────────┴─────────────┴─────────────╯   ╰─────────────┴─────────────┴─────────────╯
            >;
        };
        NAV {
            label = "Nav";
            bindings = <
                // ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
                    XXX           &bt BT_CLR    &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3      XXX           XXX           XXX           XXX           XXX           XXX
                // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
                    XXX           XXX           XXX           XXX           XXX           XXX               XXX           &kp LEFT      &kp DOWN      &kp UP        &kp RIGHT     XXX
                // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
                    XXX           XXX           XXX           XXX           XXX           XXX               XXX           XXX           XXX           XXX           XXX           XXX
                // ╰─────────────┴─────────────┴─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┴─────────────┴─────────────╯
                                                              XXX           XXX           XXX               XXX           XXX           XXX
                //                                           ╰─────────────┴─────────────┴─────────────╯   ╰─────────────┴─────────────┴─────────────╯
            >;
        };
        NUM {
            label = "Num";
            bindings = <
                // ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
                    XXX           XXX           XXX           XXX           XXX           XXX               &kp KP_DIVIDE &kp N7        &kp N8        &kp N9        &kp MINUS     XXX
                // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
                    XXX           XXX           XXX           XXX           XXX           XXX             &kp KP_MULTIPLY &kp N4        &kp N5        &kp N6        &kp EQUAL     XXX
                // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
                    XXX           XXX           XXX           XXX           XXX           XXX               &kp N0        &kp N1        &kp N2        &kp N3        &kp KP_DOT    XXX
                // ╰─────────────┴─────────────┴─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┴─────────────┴─────────────╯
                                                              XXX           XXX           XXX               XXX           XXX           XXX
                //                                           ╰─────────────┴─────────────┴─────────────╯   ╰─────────────┴─────────────┴─────────────╯
            >;
        };
        SYM {
            label = "Sym";
            bindings = <
                // ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
                    XXX           &kp EXCL      &kp AT        &kp HASH      &kp DLLR      &kp PRCNT         &kp CARET     &kp AMPS      XXX           &kp LPAR      &kp RPAR      XXX
                // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
                    XXX           XXX           XXX           XXX           XXX           XXX               &kp MINUS     &kp EQUAL     &kp LBKT      &kp RBKT      &kp BSLH      XXX
                // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
                    XXX           XXX           XXX           XXX           XXX           XXX               &kp UNDER     &kp PLUS      &kp LBRC      &kp RBRC      &kp PIPE      XXX
                // ╰─────────────┴─────────────┴─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┴─────────────┴─────────────╯
                                                              XXX           XXX           XXX               XXX           XXX           XXX
                //                                           ╰─────────────┴─────────────┴─────────────╯   ╰─────────────┴─────────────┴─────────────╯
            >;
        };
        FUN {
            label = "Fun";
            bindings = <
                // ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
                    XXX           &kp F15       &kp F7        &kp F8        &kp F9        &kp F12           XXX           XXX           XXX           XXX           XXX           XXX
                // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
                    XXX           &kp F14       &kp F4        &kp F5        &kp F6        &kp F11           XXX           XXX           XXX           XXX           XXX           XXX
                // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
                    XXX           &kp F13       &kp F1        &kp F2        &kp F3        &kp F10           XXX           XXX           XXX           XXX           XXX           XXX
                // ╰─────────────┴─────────────┴─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┴─────────────┴─────────────╯
                                                              XXX           XXX           XXX               XXX           XXX           XXX
                //                                           ╰─────────────┴─────────────┴─────────────╯   ╰─────────────┴─────────────┴─────────────╯
            >;
        };
        BUTTON {
            label = "Button";
            bindings = <
                // ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
                    XXX           &kp F15       &kp F7        &kp F8        &kp F9        &kp F12           XXX           XXX           XXX           XXX           XXX           XXX
                // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
                    XXX           &kp F14       &kp F4        &kp F5        &kp F6        &kp F11           XXX           XXX           XXX           XXX           XXX           XXX
                // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
                    XXX           &kp F13       &kp F1        &kp F2        &kp F3        &kp F10           XXX           XXX           XXX           XXX           XXX           XXX
                // ╰─────────────┴─────────────┴─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┴─────────────┴─────────────╯
                                                              XXX           XXX           XXX               XXX           XXX           XXX
                //                                           ╰─────────────┴─────────────┴─────────────╯   ╰─────────────┴─────────────┴─────────────╯
            >;
        };
        MEDIA {
            label = "Media";
            bindings = <
                // ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
                    XXX           XXX           XXX           XXX           XXX           XXX               &bt_sel_0     &bt_sel_1     &bt_sel_2     &bt_sel_3     &bt_sel_4     XXX
                // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
                    XXX           &kp LGUI      &kp LALT      &kp LCTRL     &kp LSHFT     XXX               _EP_TOG       &kp C_PREV    &kp C_VOL_DN  &kp C_VOL_UP  &kp C_NEXT    XXX
                // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
                    XXX           XXX           &kp RALT      XXX           XXX           XXX               &out_tog      &kp C_FF      &kp C_BRI_DN  &kp C_BRI_UP  &kp C_RW      XXX
                // ╰─────────────┴─────────────┴─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┴─────────────┴─────────────╯
                                                              XXX           XXX           XXX               &kp C_STOP    &kp C_PP      &kp C_MUTE
                //                                           ╰─────────────┴─────────────┴─────────────╯   ╰─────────────┴─────────────┴─────────────╯
            >;
        };
        MOUSE {
            label = "Mouse";
            bindings = <
                // ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
                    XXX           &kp F15       &kp F7        &kp F8        &kp F9        &kp F12           XXX           XXX           XXX           XXX           XXX           XXX
                // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
                    XXX           &kp F14       &kp F4        &kp F5        &kp F6        &kp F11           XXX           XXX           XXX           XXX           XXX           XXX
                // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
                    XXX           &kp F13       &kp F1        &kp F2        &kp F3        &kp F10           XXX           XXX           XXX           XXX           XXX           XXX
                // ╰─────────────┴─────────────┴─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┴─────────────┴─────────────╯
                                                              XXX           XXX           XXX               XXX           XXX           XXX
                //                                           ╰─────────────┴─────────────┴─────────────╯   ╰─────────────┴─────────────┴─────────────╯
            >;
        };
    };
};
